<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:15</td>  <td>Automating tasks with the Unix shell - I</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Automating tasks with the Unix shell - II</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Programming with Python - I</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>14:00</td>  <td>Programming with Python - II</td> </tr>
      <tr> <td>14:45</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Simulation of real world problems</td> </tr>
      <tr> <td>16:15</td>  <td>Discussion and wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Questions</td> </tr>
      <tr> <td>09:15</td>  <td>Scientific writing with LaTeX - I</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Scientific writing with LaTeX - II</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Scientific simulation theory - I</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>14:00</td>  <td>Scientific simulation theory - II</td> </tr>
      <tr> <td>14:45</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Python: My first simulation</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Python: Errors with my first simulation</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>Discussion and wrap-up</td> </tr>
    </table>
  </div>
</div>
